html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='description', content='{% block meta_description %}{% endblock %}')
    meta(name='keywords', content='{% block meta_keywords %}{% endblock %}')
    meta(name="viewport", content="width=device-width, user-scalable=no")
    block title
      title Aquilo
    link(href='{{.Settings.Server.StaticUrl}}css/bootstrap.min.css',rel='stylesheet')
    link(href='{{.Settings.Server.StaticUrl}}css/ccmm.css',rel='stylesheet')
    block styles
    script(src='{{.Settings.Server.StaticUrl}}js/lib.js')
    block scripts

block body