html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='description', content='{% block meta_description %}{% endblock %}')
        meta(name='keywords', content='{% block meta_keywords %}{% endblock %}')
        title Clock Testing
        link(href='/css/ccmm-clock.css',rel='stylesheet')
        block styles
        script(type='text/javascript').
            window.ccmm = {};

        script(src='/js/lib.js')
        script(src='/js/easypeasy.js')
        script(src='/js/noaa.js')
        script(src='/js/ccmm.js')
        script(src='/js/chart.js')
        script.
            ccmm.STATIC_URL = '/';
            var data = []
                //- [10, 12, 20, 26, 85, 20]
            for (var i = 0; i < 210; i++)
                //- if (i < 501)
                    data[i] = 60 + Math.floor(Math.random()*100)
                //- else
                    //- data[0][i] = 0

            //- data[0] = [95,962,992,107,306,920,59,278,958,705,477,1005,623,551,480,101,931,665,5,79,692,201,724,375,155,378,936,508,994,588,205,257,813,872,960,689,293,846,557,681,744,884,796,894,283,712,820,692,801,449,688,606,280,123,45,508,815,722,293,501,116,215,721,699,311,587,173,648,558,14,902,978,653,676,226,133,1010,874,77,997,169,99,964,695,877,742,400,163,69,72,90,891,868,830,711,363,149,788,188,397,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
            var chart;
            document.addEventListener('DOMContentLoaded', function(e) {
                chart = new ccmm.Chart(document.getElementById('chart'), data, ccmm.themes['oblivion'], null, true, true)
            });
        block scripts

    body(class='')
        #container.fullwidth
            canvas#chart(width='400',height='400')

            //input#time
