extends base
block styles
  link(href='{{.Settings.Server.StaticUrl}}css/environmental.css',rel='stylesheet')

block scripts
  script(src='{{.Settings.Server.StaticUrl}}js/noaa.js')
  script(src='{{.Settings.Server.StaticUrl}}js/easypeasy.js')
  script(src='{{.Settings.Server.StaticUrl}}js/ccmm.themes.js')
  script(src='{{.Settings.Server.StaticUrl}}js/ccmm.js')
  script(src='{{.Settings.Server.StaticUrl}}js/chart.js')
  script(src='{{.Settings.Server.StaticUrl}}js/environmental.js')
    
  script.
    ccmm.STATIC_URL = '/';
    var clock, cal, client, graphTabs;
    // charts for temps
    var ambientChart, weatherChart, pollenChart;
    var graphSections, dataSections;
    var position = {
      name: 'Houston,TX',
      city: 'Houston',
      state: 'Texas',
      postalCode: '77054',
      latitude: 29.681416, 
      longitude: -95.383172
    };
    var theme = ccmm.themes['tech-49'];
    console.log(theme);
    document.addEventListener('DOMContentLoaded', function(e) {
      clock = new ccmm.Clock(document.getElementById('clock'), document.getElementById('clockbase'), document.getElementById('sunclock'), document.getElementById('centeranimations'), document.getElementById('time'), document.getElementById('date'), position, {}, theme);
      clock.onResize()
      cal = new ccmm.CalendarClock(null, clock, document.getElementById('events'), position, theme);

      env = new ccmm.EnvironmentalControls(document.getElementById('env'), position, theme);

      graphSections = {
        'clock': clock,
        'env': env
      }
      graphTabs = new ccmm.Tabset(document.querySelector('#graphs .tabs'), graphSections);
      //- graphTabs.activate('clock');
      graphTabs.activate('env');

      var host = window.location.hostname;
      //- host = 'hud.200bg.com';
      client = new ccmm.Client(host, 8049, document.querySelector('.tabs #env-tab .status-indicator'));
    });

block body
  #graphs.col-lg-12
    .tabs
      .tab(data-name='clock', data-section='clock')
        .label CLOCK
      #env-tab.tab(data-name='env', data-id='env') 
        .label 
          | ENV
          span.status-indicator
    .sections
      #clock.col-sm-12.animated-out.section
        #clock-container
          canvas#centeranimations(width='480',height='480')
          canvas#clockbase(width='480',height='480')
          canvas#sunclock(width='480',height='480')
          #time
          #date
            span.month
            span.day

          canvas#event-lines(width='480',height='480')
      #env.section
        .clearfix
        .col-xs-8
          h3.title Thermostat
          #ambient-chart
            canvas.chart(width='460',height='460')
            .ambient-value.chart-value
              .current-value.animated-value.animated-out
              .target-value.animated-value.animated-out
              .running-time.animated-value.animated-out

        .col-xs-4
          h3.title Weather
          #weather-chart
            canvas.chart(width='200',height='200')
            .weather-value.chart-value
              .current-value.animated-value.animated-out
              .humidity.animated-value.animated-out
              .conditions.animated-value.animated-out

          h3.title Pollen
          #pollen-chart
            canvas.chart(width='200',height='200')
            .pollen-value.chart-value
              .current-value.animated-value.animated-out
              .pollen-type.animated-value.animated-out

  //- #data.col-lg-3
  //-   .tabs
  //-     .tab.events-tab(data-id='events')
  //-       .label EVENTS
  //-   .sections
  //-     #events.section

  //input#time
