extends base

block title
  title Login - Aquilo
  
block scripts
  script.
    //test

block body
  body(class='login')
    .container
        .login-container.col-sm-12
            form.login-form(method='POST',action='/login/')
                h1 Authenticate
                div.errors
                    | {{ range .Errors }}
                    |     {{.}}
                    | {{ end }}
                
                input#csrftoken(type='hidden',name='csrfmiddlewaretoken',value='{{.CSRFToken}}')
                
                label.username-label(for='username') Username:
                input#username(type='text',name='username',value='{{.Username}}')

                label.password-label(for='password') Password:
                input#password(type='password',name='password',value='{{.Password}}')
                br
                input(type='submit',value='Login')