@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Armata');
@import url('https://fonts.googleapis.com/css?family=Tulpen+One');
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Bold.eot');
  src: url('Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('Lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */ url('Lato/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Regular.eot');
  src: url('Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('Lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */ url('Lato/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Italic.eot');
  src: url('Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('Lato/Lato-Italic.woff') format('woff'), /* Modern Browsers */ url('Lato/Lato-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #000000;
  font-family: 'Droid Sans Mono', sans-serif;
}
.container {
  width: 100%;
}
#clock {
  position: relative;
  opacity: 1.0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  text-align: center;
  height: 100%;
}
#clock.animated-out {
  opacity: 0.0;
}
#clock-container {
  max-width: 480px;
  height: 480px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 1.0;
}
#clock-container.animated-out {
  opacity: 0.0;
}
#clock-container #sunclock,
#clock-container #clockbase,
#clock-container #centeranimations,
#clock-container canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
#clock-container #time {
  position: absolute;
  top: -12%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 25%;
  margin: auto;
  font-family: 'Tulpen One', 'Lato', 'Droid Sans';
  font-size: 136px;
  text-align: center;
  line-height: 136px;
}
#clock-container #date {
  position: absolute;
  top: 34%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 15%;
  margin: auto;
  font-family: 'Tulpen One';
  font-size: 54px;
  text-align: center;
  line-height: 54px;
}
#clock-container #date .month {
  font-family: 'Century Gothic', Futura, 'URW Gothic L', Verdana, sans-serif;
  font-size: 48px;
  text-transform: uppercase;
}
#clock-container #date .day {
  font-family: 'Tulpen One';
  font-size: 54px;
  margin-left: 3px;
}
@media only screen and (min-width: 360px) {
  #time {
    font-size: 64px;
    line-height: 64px;
  }
  #date .month {
    font-size: 24px;
    line-height: 24px;
  }
  #date .day {
    font-size: 24px;
    line-height: 24px;
  }
}
#events {
  margin-top: 100px;
  border-bottom: 1px solid rgba(96, 198, 216, 0.8);
}
#events .event-item {
  min-height: 50px;
  border-top: 1px solid rgba(96, 198, 216, 0.8);
  margin: 0 -15px;
  padding: 5px 5px 0px 5px;
}
#events .event-item .who {
  color: #60c6d8 !important;
}
#env div {
  text-align: center;
}
#ambient-chart,
#weather-chart,
#pollen-chart {
  position: relative;
  margin: auto;
}
#ambient-chart .chart-value,
#weather-chart .chart-value,
#pollen-chart .chart-value {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 36%;
  height: 36%;
  margin: auto;
}
#ambient-chart .current-value,
#weather-chart .current-value,
#pollen-chart .current-value,
#ambient-chart .animated-value,
#weather-chart .animated-value,
#pollen-chart .animated-value {
  opacity: 1.0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition-delay: 0.5;
  -moz-transition-delay: 0.5;
  -o-transition-delay: 0.5;
  transition-delay: 0.5;
}
#ambient-chart .current-value.animated-out,
#weather-chart .current-value.animated-out,
#pollen-chart .current-value.animated-out,
#ambient-chart .animated-value.animated-out,
#weather-chart .animated-value.animated-out,
#pollen-chart .animated-value.animated-out {
  opacity: 0.0;
  -webkit-transition: opacity 0s;
  -moz-transition: opacity 0s;
  -ms-transition: opacity 0s;
  -o-transition: opacity 0s;
  transition: opacity 0s;
}
#ambient-chart .chart-value {
  height: 32%;
}
#ambient-chart .current-value {
  color: rgba(252, 103, 78, 0.75);
  font-family: 'Tulpen One', 'Droid Sans';
  font-size: 136px;
  line-height: 102px;
  padding-left: 5%;
  opacity: 1.0;
}
#ambient-chart .target-value {
  display: inline-block;
  color: #60c6d8;
  font-family: 'Century Gothic', 'URW Gothic L', 'Droid Sans';
  font-size: 18px;
  line-height: 24px;
}
#ambient-chart .running-time {
  display: inline-block;
  color: rgba(89, 151, 163, 0.8);
  font-family: 'Century Gothic', 'URW Gothic L', 'Droid Sans';
  font-size: 18px;
  line-height: 24px;
}
#weather-chart .chart-value {
  font-family: 'Century Gothic', 'URW Gothic L', 'Droid Sans';
}
#weather-chart .chart-value .current-value {
  color: rgba(252, 103, 78, 0.75);
  font-family: 'Tulpen One', 'Droid Sans';
  font-size: 52px;
  line-height: 85%;
  padding-left: 5%;
  opacity: 1.0;
}
#weather-chart .chart-value .humidity {
  color: rgba(89, 151, 163, 0.8);
  font-size: 12px;
}
#weather-chart .chart-value .conditions {
  font-size: 10px;
  color: rgba(252, 255, 199, 0.75);
  width: 33%;
  margin: auto;
}
#pollen-chart .chart-value {
  font-family: 'Century Gothic', 'URW Gothic L', 'Droid Sans';
}
#pollen-chart .chart-value .current-value {
  color: rgba(252, 255, 199, 0.75);
  font-family: 'Tulpen One', 'Droid Sans';
  font-size: 52px;
  line-height: 90%;
  opacity: 1.0;
}
#pollen-chart .chart-value .pollen-type {
  color: #60c6d8;
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Armata, sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin: 0 -10px;
  padding: 2px 10px;
  background-color: rgba(96, 198, 216, 0.8);
  color: #000000;
}
.tabs {
  width: 100%;
  height: 40px;
}
.tabs .tab {
  position: relative;
  width: 80px;
  height: 40px;
  margin-top: 2px;
  margin-left: 2px;
  float: left;
  border-top: 1px solid rgba(157, 195, 191, 0.5);
  border-bottom: 1px solid rgba(157, 195, 191, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.tabs .tab .label {
  text-align: center;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: rgba(157, 195, 191, 0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.tabs .tab.active {
  border-top: 1px solid rgba(96, 198, 216, 0.8);
  border-bottom: 1px solid rgba(96, 198, 216, 0.8);
  width: 90px;
}
.tabs .tab.active .label {
  color: rgba(96, 198, 216, 0.8);
}
.tabs .tab .status-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  line-height: 10px;
  vertical-align: middle;
  background-color: rgba(96, 198, 216, 0.8);
  box-shadow: 0px 0px 12px rgba(157, 195, 191, 0.5);
  border-radius: 50%;
  margin-left: 7px;
  margin-top: -1px;
  opacity: 0;
  -webkit-transition: opacity 4.5s;
  -moz-transition: opacity 4.5s;
  -ms-transition: opacity 4.5s;
  -o-transition: opacity 4.5s;
  transition: opacity 4.5s;
}
.tabs .tab .status-indicator.pulse {
  opacity: 1.0;
  -webkit-transition: opacity 0s;
  -moz-transition: opacity 0s;
  -ms-transition: opacity 0s;
  -o-transition: opacity 0s;
  transition: opacity 0s;
}
h3.title {
  height: 24px;
  color: #000000;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 18px;
  border-bottom: 1px solid rgba(96, 198, 216, 0.8);
}
.login-container {
  width: 100%;
  height: 100%;
}
.login-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 400px;
  margin: auto;
}
.login-form label {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 200%;
  color: rgba(157, 195, 191, 0.5);
}
.login-form input {
  display: block;
  width: 100%;
}
