@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Bold.eot');
  src: url('Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('Lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */ url('Lato/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Regular.eot');
  src: url('Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('Lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */ url('Lato/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Lato';
  src: url('Lato/Lato-Italic.eot');
  src: url('Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('Lato/Lato-Italic.woff') format('woff'), /* Modern Browsers */ url('Lato/Lato-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Tulpen One';
  font-style: normal;
  font-weight: 400;
  src: local('Tulpen One'), local('TulpenOne-Regular'), url(TulpenOne/TulpenOne.woff) format('woff');
}
/* line 47, C:\Users\Oliver\Sites\tech49-hud\html\src\css\ccmm-clock.less */
html,
body {
  width: 100%;
  height: 100%;
}
/* line 52, C:\Users\Oliver\Sites\tech49-hud\html\src\css\ccmm-clock.less */
body {
  background-color: #000000;
  font-family: 'Lato';
}
/* line 57, C:\Users\Oliver\Sites\tech49-hud\html\src\css\ccmm-clock.less */
.container {
  width: 100%;
}
/* line 61, C:\Users\Oliver\Sites\tech49-hud\html\src\css\ccmm-clock.less */
#clock {
  max-width: 640px;
}
/* line 64, C:\Users\Oliver\Sites\tech49-hud\html\src\css\ccmm-clock.less */
#clock #sunclock,
#clock #clockbase,
#clock #centeranimations,
#clock canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 77, C:\Users\Oliver\Sites\tech49-hud\html\src\css\ccmm-clock.less */
#clock #time {
  position: absolute;
  top: -5%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 25%;
  margin: auto;
  font-family: 'Tulpen One';
  font-size: 136px;
  text-align: center;
  line-height: 136px;
}
/* line 93, C:\Users\Oliver\Sites\tech49-hud\html\src\css\ccmm-clock.less */
#clock #date {
  position: absolute;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 15%;
  margin: auto;
  font-family: 'Tulpen One';
  font-size: 54px;
  text-align: center;
  line-height: 54px;
}
/* line 108, C:\Users\Oliver\Sites\tech49-hud\html\src\css\ccmm-clock.less */
#clock #date .month {
  font-family: 'Century Gothic', Futura, 'URW Gothic L', Verdana, sans-serif;
  font-size: 48px;
  text-transform: uppercase;
}
/* line 113, C:\Users\Oliver\Sites\tech49-hud\html\src\css\ccmm-clock.less */
#clock #date .day {
  font-family: 'Tulpen One';
  font-size: 54px;
  margin-left: 3px;
}
/* line 124, C:\Users\Oliver\Sites\tech49-hud\html\src\css\ccmm-clock.less */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: 'Droid Sans Mono', sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin: 0 -10px;
  padding: 0;
  color: rgba(96, 198, 216, 0.8);
}
/* line 134, C:\Users\Oliver\Sites\tech49-hud\html\src\css\ccmm-clock.less */
#events {
  margin-top: 100px;
  border-bottom: 1px solid rgba(96, 198, 216, 0.8);
}
/* line 136, C:\Users\Oliver\Sites\tech49-hud\html\src\css\ccmm-clock.less */
#events .event-item {
  min-height: 50px;
  border-top: 1px solid rgba(96, 198, 216, 0.8);
  margin: 0 -15px;
  padding: 5px 5px 0px 5px;
}
/* line 142, C:\Users\Oliver\Sites\tech49-hud\html\src\css\ccmm-clock.less */
#events .event-item .who {
  color: #60c6d8 !important;
}
