/* line 3, /home/oliver/Projects/tech49-hud/html/src/css/clock.less */
#clock {
  max-width: 640px;
  position: relative;
}
/* line 7, /home/oliver/Projects/tech49-hud/html/src/css/clock.less */
#clock #sunclock,
#clock #clockbase,
#clock #centeranimations,
#clock canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 20, /home/oliver/Projects/tech49-hud/html/src/css/clock.less */
#clock #time {
  position: absolute;
  top: -5%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 25%;
  margin: auto;
  font-family: 'Tulpen One';
  font-size: 136px;
  text-align: center;
  line-height: 136px;
}
/* line 36, /home/oliver/Projects/tech49-hud/html/src/css/clock.less */
#clock #date {
  position: absolute;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 15%;
  margin: auto;
  font-family: 'Tulpen One';
  font-size: 54px;
  text-align: center;
  line-height: 54px;
}
/* line 51, /home/oliver/Projects/tech49-hud/html/src/css/clock.less */
#clock #date .month {
  font-family: 'Century Gothic', Futura, 'URW Gothic L', Verdana, sans-serif;
  font-size: 48px;
  text-transform: uppercase;
}
/* line 56, /home/oliver/Projects/tech49-hud/html/src/css/clock.less */
#clock #date .day {
  font-family: 'Tulpen One';
  font-size: 54px;
  margin-left: 3px;
}
