/* line 6, /home/oliverw/Projects/tech49-hud/html/src/css/mixins.less */
.clearfix {
  *zoom: 1;
}
/* line 8, /home/oliverw/Projects/tech49-hud/html/src/css/mixins.less */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 16, /home/oliverw/Projects/tech49-hud/html/src/css/mixins.less */
.clearfix:after {
  clear: both;
}
/* line 5, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#env div {
  text-align: center;
}
/* line 10, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#ambient-chart,
#weather-chart,
#pollen-chart {
  position: relative;
  margin: auto;
}
/* line 14, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#ambient-chart .chart-value,
#weather-chart .chart-value,
#pollen-chart .chart-value {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 36%;
  height: 36%;
  margin: auto;
}
/* line 25, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#ambient-chart .current-value,
#weather-chart .current-value,
#pollen-chart .current-value,
#ambient-chart .animated-value,
#weather-chart .animated-value,
#pollen-chart .animated-value {
  opacity: 1.0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition-delay: 0.5;
  -moz-transition-delay: 0.5;
  -o-transition-delay: 0.5;
  transition-delay: 0.5;
}
/* line 30, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#ambient-chart .current-value.animated-out,
#weather-chart .current-value.animated-out,
#pollen-chart .current-value.animated-out,
#ambient-chart .animated-value.animated-out,
#weather-chart .animated-value.animated-out,
#pollen-chart .animated-value.animated-out {
  opacity: 0.0;
  -webkit-transition: opacity 0s;
  -moz-transition: opacity 0s;
  -ms-transition: opacity 0s;
  -o-transition: opacity 0s;
  transition: opacity 0s;
}
/* line 38, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#ambient-chart .chart-value {
  height: 32%;
}
/* line 41, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#ambient-chart .current-value {
  color: rgba(252, 103, 78, 0.75);
  font-family: 'Tulpen One', 'Droid Sans';
  font-size: 136px;
  line-height: 102px;
  padding-left: 5%;
  opacity: 1.0;
}
/* line 50, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#ambient-chart .target-value {
  display: inline-block;
  color: #60c6d8;
  font-family: 'Century Gothic', 'URW Gothic L', 'Droid Sans';
  font-size: 18px;
  line-height: 24px;
}
/* line 58, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#ambient-chart .running-time {
  display: inline-block;
  color: rgba(89, 151, 163, 0.8);
  font-family: 'Century Gothic', 'URW Gothic L', 'Droid Sans';
  font-size: 18px;
  line-height: 24px;
}
/* line 68, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#weather-chart .chart-value {
  font-family: 'Century Gothic', 'URW Gothic L', 'Droid Sans';
}
/* line 70, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#weather-chart .chart-value .current-value {
  color: rgba(252, 103, 78, 0.75);
  font-family: 'Tulpen One', 'Droid Sans';
  font-size: 52px;
  line-height: 85%;
  padding-left: 5%;
  opacity: 1.0;
}
/* line 79, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#weather-chart .chart-value .humidity {
  color: rgba(89, 151, 163, 0.8);
  font-size: 12px;
}
/* line 84, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#weather-chart .chart-value .conditions {
  font-size: 10px;
  color: rgba(252, 255, 199, 0.75);
  width: 33%;
  margin: auto;
}
/* line 94, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#pollen-chart .chart-value {
  font-family: 'Century Gothic', 'URW Gothic L', 'Droid Sans';
}
/* line 96, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#pollen-chart .chart-value .current-value {
  color: rgba(252, 255, 199, 0.75);
  font-family: 'Tulpen One', 'Droid Sans';
  font-size: 52px;
  line-height: 90%;
  opacity: 1.0;
}
/* line 104, /home/oliverw/Projects/tech49-hud/html/src/css/environmental.less */
#pollen-chart .chart-value .pollen-type {
  color: #60c6d8;
  font-size: 12px;
}
