/* line 3, /home/oliverw/Projects/tech49-hud/html/src/css/events.less */
#events {
  margin-top: 100px;
  border-bottom: 1px solid rgba(96, 198, 216, 0.8);
}
/* line 5, /home/oliverw/Projects/tech49-hud/html/src/css/events.less */
#events .event-item {
  min-height: 50px;
  border-top: 1px solid rgba(96, 198, 216, 0.8);
  margin: 0 -15px;
  padding: 5px 5px 0px 5px;
}
/* line 11, /home/oliverw/Projects/tech49-hud/html/src/css/events.less */
#events .event-item .who {
  color: #60c6d8 !important;
}
