/* line 6, /home/oliverw/Projects/tech49-hud/html/src/css/mixins.less */
.clearfix {
  *zoom: 1;
}
/* line 8, /home/oliverw/Projects/tech49-hud/html/src/css/mixins.less */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 16, /home/oliverw/Projects/tech49-hud/html/src/css/mixins.less */
.clearfix:after {
  clear: both;
}
