/* line 1, /home/oliver/Projects/tech49-hud/html/src/css/obliqueclock.less */
html,
body {
  width: 100%;
  height: 100%;
}
/* line 6, /home/oliver/Projects/tech49-hud/html/src/css/obliqueclock.less */
body {
  background-color: #000000;
}
/* line 10, /home/oliver/Projects/tech49-hud/html/src/css/obliqueclock.less */
#sunclock,
#clockbase,
#centeranimations,
canvas {
  position: absolute;
  top: 100px;
  left: 100px;
}
