<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/><meta name="description" content="{% block meta_description %}{% endblock %}"/><meta name="keywords" content="{% block meta_keywords %}{% endblock %}"/><meta name="viewport" content="width=device-width, user-scalable=no"/><title>Aquilo</title><link href="{{.Settings.Server.StaticUrl}}css/bootstrap.min.css" rel="stylesheet"/><link href="{{.Settings.Server.StaticUrl}}css/ccmm.css" rel="stylesheet"/><link href="{{.Settings.Server.StaticUrl}}css/environmental.css" rel="stylesheet"/><script src="{{.Settings.Server.StaticUrl}}js/lib.js"></script><script src="{{.Settings.Server.StaticUrl}}js/noaa.js"></script><script src="{{.Settings.Server.StaticUrl}}js/easypeasy.js"></script><script src="{{.Settings.Server.StaticUrl}}js/ccmm.themes.js"></script><script src="{{.Settings.Server.StaticUrl}}js/ccmm.js"></script><script src="{{.Settings.Server.StaticUrl}}js/chart.js"></script><script src="{{.Settings.Server.StaticUrl}}js/environmental.js"></script><script>ccmm.STATIC_URL = '/';
var clock, cal, client, graphTabs;
// charts for temps
var ambientChart, weatherChart, pollenChart;
var graphSections, dataSections;
var position = {
  name: 'Houston,TX',
  city: 'Houston',
  state: 'Texas',
  postalCode: '77054',
  latitude: 29.681416, 
  longitude: -95.383172
};
var theme = ccmm.themes['tech-49'];
console.log(theme);
document.addEventListener('DOMContentLoaded', function(e) {
  clock = new ccmm.Clock(document.getElementById('clock'), document.getElementById('clockbase'), document.getElementById('sunclock'), document.getElementById('centeranimations'), document.getElementById('time'), document.getElementById('date'), position, {}, theme);
  clock.onResize()
  cal = new ccmm.CalendarClock(null, clock, document.getElementById('events'), position, theme);

  env = new ccmm.EnvironmentalControls(document.getElementById('env'), position, theme);

  graphSections = {
    'clock': clock,
    'env': env
  }
  graphTabs = new ccmm.Tabset(document.querySelector('#graphs .tabs'), graphSections);
  //- graphTabs.activate('clock');
  graphTabs.activate('env');

  var host = window.location.hostname;
  //- host = 'hud.200bg.com';
  client = new ccmm.Client(host, 8049, document.querySelector('.tabs #env-tab .status-indicator'));
});
</script></head></html><div id="graphs" class="col-lg-12"><div class="tabs"><div data-name="clock" data-section="clock" class="tab"><div class="label">CLOCK</div></div><div id="env-tab" data-name="env" data-id="env" class="tab"> <div class="label"> 
ENV<span class="status-indicator"></span></div></div></div><div class="sections"><div id="clock" class="col-sm-12 animated-out section"><div id="clock-container"><canvas id="centeranimations" width="480" height="480"></canvas><canvas id="clockbase" width="480" height="480"></canvas><canvas id="sunclock" width="480" height="480"></canvas><div id="time"></div><div id="date"><span class="month"></span><span class="day"></span></div><canvas id="event-lines" width="480" height="480"></canvas></div></div><div id="env" class="section"><div class="clearfix"></div><div class="col-xs-8"><h3 class="title">Thermostat</h3><div id="ambient-chart"><canvas width="460" height="460" class="chart"></canvas><div class="ambient-value chart-value"><div class="current-value animated-value animated-out"></div><div class="target-value animated-value animated-out"></div><div class="running-time animated-value animated-out"></div></div></div></div><div class="col-xs-4"><h3 class="title">Weather</h3><div id="weather-chart"><canvas width="200" height="200" class="chart"></canvas><div class="weather-value chart-value"><div class="current-value animated-value animated-out"></div><div class="humidity animated-value animated-out"></div><div class="conditions animated-value animated-out"></div></div></div><h3 class="title">Pollen</h3><div id="pollen-chart"><canvas width="200" height="200" class="chart"></canvas><div class="pollen-value chart-value"><div class="current-value animated-value animated-out"></div><div class="pollen-type animated-value animated-out"></div></div></div></div></div></div></div><!--input#time-->