@import 'mixins.less';
@import 'theme.tech49.less';
// requires net connection.
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Armata');
@import url('https://fonts.googleapis.com/css?family=Tulpen+One');
@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('Lato/Lato-Bold.ttf') format('truetype'); 
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('Lato/Lato-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('Lato/Lato-Italic.ttf') format('truetype'); 
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

// @font-face {
//   font-family: 'Tulpen One';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Tulpen One'), 
//        local('TulpenOne-Regular'), 
//        url(TulpenOne/TulpenOne.woff) format('woff'),
//        url('TulpenOne/TulpenOne.ttf') format('truetype');
// }


html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: @background;
  font-family: 'Droid Sans Mono', sans-serif;
}

.container {
  width: 100%;
}

@import 'clock.less';
@import 'events.less';
@import 'environmental.less';

// #5CBED1 
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: Armata, sans-serif;
  font-weight: normal;
  font-size: 18px; 
  margin: 0 -10px;
  padding: 2px 10px;
  background-color: @highlightColor;
  color: @background;
}

// TABS

.tabs {
  width: 100%;
  height: 40px;

  .tab {
    position: relative;
    width: 80px;
    height: 40px;
    margin-top: 2px;
    margin-left: 2px;
    float: left;
    border-top: 1px solid @iconColor;
    border-bottom: 1px solid @iconColor;
    cursor: pointer;
    .transition(all 0.5s);

    .label {
      text-align: center;
      width: 100%;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      color: @iconColor;
      .transition(all 0.5s);
    }
 
    &.active {
      border-top: 1px solid @highlightColor;
      border-bottom: 1px solid @highlightColor;
      width: 90px;

      .label {
        color: @highlightColor;
      }
    }

    .status-indicator {
      display: inline-block;
      width: 10px;
      height: 10px;
      line-height: 10px;
      vertical-align: middle;
      background-color: @highlightColor;
      box-shadow: 0px 0px 12px @iconColor;
      border-radius: 50%;
      margin-left: 7px;
      margin-top: -1px;
      opacity: 0;

      .transition(opacity 4.5s);

      &.pulse {
        opacity: 1.0;
        .transition(opacity 0s);
      }
    }
  }
}

// headers
h3.title {
  height: 24px;
  color: @background;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 18px;

  border-bottom: 1px solid @highlightColor;
}


// auth
.login-container {
  width: 100%;
  height: 100%;
}

.login-form {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  width: 400px;
  height: 400px;
  margin: auto;

  label {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 200%;
    color: @iconColor;
  }

  input {
    display: block;
    width: 100%;
  }
}