@import 'theme.tech49.less';

#clock {
  position: relative;
  opacity: 1.0;
  .transition(opacity 1.0s);
  text-align: center;
  height: 100%;

  &.animated-out {
    opacity: 0.0;
  }
}

#clock-container {
  max-width: 480px;
  height: 480px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 1.0;

  &.animated-out {
    opacity: 0.0;
  }

  #sunclock, #clockbase, #centeranimations, canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: auto;

    //border: 1px solid rgba(255,255,255,0.1);
  }

  #time {
    position: absolute;
    top: -12%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 25%;
    margin: auto;

    font-family: 'Tulpen One', 'Lato', 'Droid Sans';
    font-size: 136px;
    text-align: center;
    line-height: 136px;
  }

  #date {
    position: absolute;
    top: 34%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 15%;
    margin: auto;

    font-family: 'Tulpen One';
    font-size: 54px;
    text-align: center;
    line-height: 54px;

    .month {
      font-family: 'Century Gothic', Futura, 'URW Gothic L', Verdana, sans-serif;
      font-size: 48px;
      text-transform: uppercase;
    }
    .day {
      font-family: 'Tulpen One';
      font-size: 54px;
      margin-left:3px;
    }
  }
}

@media only screen and (min-width: 360px) {
  #time {
    font-size: 64px;
    line-height: 64px;
  }
  #date {
    .month {
      font-size: 24px;
      line-height: 24px;
    }
    .day {
      font-size: 24px;
      line-height: 24px;
    }
  }
}
