@import "theme.tech49.less";
@import "mixins.less";

#env {
    div {
        text-align: center;
    }
}

#ambient-chart, #weather-chart, #pollen-chart {
    position: relative;
    margin: auto;

    .chart-value {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 36%;
        height: 36%;
        margin: auto;
    }

    .current-value, .animated-value {
        opacity: 1.0;
        .transition(opacity 0.5s);
        .transition-delay(0.5);

        &.animated-out {
            opacity: 0.0;
            .transition(opacity 0.0s);
        }
    }
}

#ambient-chart {
    .chart-value {
        height: 32%;
    }
    .current-value {
        color: @alertColor;
        font-family: 'Tulpen One', 'Droid Sans';
        font-size: 136px;
        line-height: 102px;
        padding-left: 5%;
        opacity: 1.0;
    }

    .target-value {
        display: inline-block;
        color: @dateTimeColor;
        font-family: 'Century Gothic', 'URW Gothic L', 'Droid Sans';
        font-size: 18px;
        line-height: 24px;
    }

    .running-time {
        display: inline-block;
        color: @lowColor;
        font-family: 'Century Gothic', 'URW Gothic L', 'Droid Sans';
        font-size: 18px;
        line-height: 24px;
    }
}

#weather-chart {
    .chart-value {
        font-family: 'Century Gothic', 'URW Gothic L', 'Droid Sans';
        .current-value {
            color: @alertColor;
            font-family: 'Tulpen One', 'Droid Sans';
            font-size: 52px;
            line-height: 85%;
            padding-left: 5%;
            opacity: 1.0;
        }

        .humidity {
            color: @lowColor;
            font-size: 12px;
        }
        
        .conditions {
          font-size: 10px;
          color: @mediumColor;
          width: 33%;
          margin: auto;
        }
    }
}

#pollen-chart {
    .chart-value {
        font-family: 'Century Gothic', 'URW Gothic L', 'Droid Sans';
        .current-value {
            color: @mediumColor;
            font-family: 'Tulpen One', 'Droid Sans';
            font-size: 52px;
            line-height: 90%;
            opacity: 1.0;
        }

        .pollen-type {
            color: @dateTimeColor;
            font-size: 12px;
        }
    }
}
