@import 'theme.tech49.less';

#events {
  margin-top: 100px;
  .event-item {
    min-height: 50px;
    border-top: 1px solid @highlightColor;
    margin: 0 -15px;
    padding: 5px 5px 0px 5px;

    .who {
      color: @dateDayColor !important;
    }
  }
  border-bottom: 1px solid @highlightColor;
}