//@background:        rgba(2,1,0,1.0);
@background:        rgba(5,5,8,1.0);
@glowColor:         rgba(255,255,255,0.50);
@dayArcColor:       rgba(255,255,255,0.05);
@nightArcColor:     rgba(44,148,137,0.02);
@nightColor:        rgba(44,148,137,0.2);
@dayColor:          rgba(44,148,137,0.33);
@faintColor:        rgba(255,255,255,0.1);
@allDayEventColor:  rgba(38,63,69,1.0);
@dateTimeColor:     rgba(255,255,255,1.0);
@dateMonthColor:    rgba(172,0,34,1.0);
@dateDayColor:      rgba(255,255,255,1.0);
@baseColor:         rgba(44,148,137,0.1);
@iconColor:         rgba(44,148,137,0.5);
@highlightColor:    rgba(255,255,255,0.8);
@alertColor:        rgba(172,0,34,0.75);
@clearColor:        rgba(0,0,0,0.0);
@lowColor:          rgba(44,148,137,0.8);
@mediumColor:       rgba(255,255,150,0.75);
@highColor:         rgba(172,0,34,0.75);