@background:        rgba(255,255,255,1.0);
@glowColor:         rgba(172,0,34,0.80);
@dayArcColor:       rgba(0,0,0,0.50);
@nightArcColor:     rgba(0,0,0,0.85);
@nightColor:        rgba(0,0,0,0,0.90);
@dayColor:          rgba(38,63,69,0.33);
@faintColor:        rgba(38,63,69,1);
@allDayEventColor:  rgba(38,63,69,1.0);
@dateTimeColor:     rgba(0,0,0,1.0);
@dateMonthColor:    rgba(172,0,34,1.0);
@dateDayColor:      rgba(0,0,0,1.0);
@baseColor:         rgba(44,148,137,0.1);
@iconColor:         rgba(44,148,137,0.5);
@highlightColor:    rgba(0,0,0,0.8);
@alertColor:        rgba(172,0,34,0.75);
@clearColor:        rgba(0,0,0,0.0);
@lowColor:          rgba(44,148,137,0.8);
@mediumColor:       rgba(127,127,127,0.75);
@highColor:         rgba(172,0,34,0.75);