@background:        rgba(0,4,7,1.0);
@glowColor:         rgba(2,138,219,0.50);
@dayArcColor:       rgba(2,138,219,0.05);
@nightArcColor:     rgba(1,48,74,0.02);
@nightColor:        rgba(1,48,74,0.2);
@dayColor:          rgba(1,48,74,0.33);
@faintColor:        rgba(2,138,219,0.1);
@allDayEventColor:  rgba(38,63,69,1.0);
@dateTimeColor:     rgba(2,138,219,1.0);
@dateMonthColor:    rgba(228,122,10,1.0);
@dateDayColor:      rgba(2,138,219,1.0);
@baseColor:         rgba(1,48,74,0.1);
@iconColor:         rgba(1,48,74,0.5);
@highlightColor:    rgba(2,138,219,0.8);
@alertColor:        rgba(228,122,10,0.75);
@clearColor:        rgba(0,0,0,0.0);
@lowColor:          rgba(1,22,30,0.8);
@mediumColor:       rgba(2,138,219,0.75);
@highColor:         rgba(255,61,0,0.75);
