@background:        rgba(0,0,0,1.0);
@glowColor:         rgba(96,198,216,0.50);
@dayArcColor:       rgba(96,198,216,0.05);
@nightArcColor:     rgba(157,195,191,0.02);
@nightColor:        rgba(157,195,191,0.2);
@dayColor:          rgba(157,195,191,0.33);
@faintColor:        rgba(96,198,216,0.1);
@allDayEventColor:  rgba(38,63,69,1.0);
@dateTimeColor:     rgba(96,198,216,1.0);
@dateMonthColor:    rgba(252,103,78,1.0);
@dateDayColor:      rgba(96,198,216,1.0);
@baseColor:         rgba(157,195,191,0.1);
@iconColor:         rgba(157,195,191,0.5);
@highlightColor:    rgba(96,198,216,0.8);
@alertColor:        rgba(252,103,78,0.75);
@clearColor:        rgba(0,0,0,0.0);
@lowColor:          rgba(89, 151, 163,0.8);
@mediumColor:       rgba(252, 255, 199,0.75);
@highColor:         rgba(252, 103, 78,0.75);